[Unit]
Description=Homebridge Unicorn Hat Daemon

[Service]
ExecStart=/usr/local/bin/homebridge-unicorn-hat
Environment="HUH_LOG_LEVEL=debug"
Environment="HUH_LIGHT_TYPE=unicorn"

[Install]
WantedBy=multi-user.target
